link(type="text/css" , rel="stylesheet" , href="css/plugin/lottery.css" )
script( type="text/javascript" , src="js/plugin/lottery.js" )

.lottery-container
    img.img-banner( src="images/new-year-2016/imgbanner.png" )
    ul
        li.lottery-item.item-1
            .item-inner.bg-yellow-light
                img( src="images/new-year-2016/award/award1.png" )
                span 抱枕
        li.lottery-item.item-2
            .item-inner.bg-yellow
                img( src="images/new-year-2016/award/award2.png" )
                span iPad mini
        li.lottery-item.item-3
            .item-inner.bg-yellow-light
                img( src="images/new-year-2016/award/award3.png" )
                span 谢谢参与
        li.lottery-item.item-8
            .item-inner.bg-yellow
                img( src="images/new-year-2016/award/award4.png" )
                span 优惠券
        li.lottery-btn
            .item-inner.border-dashed
                span 马上抽奖
        li.lottery-item.item-4
            .item-inner.bg-yellow
                img( src="images/new-year-2016/award/award4.png" )
                span 优惠券
        li.lottery-item.item-7
            .item-inner.bg-yellow-light
                img( src="images/new-year-2016/award/award3.png" )
                span 谢谢参与
        li.lottery-item.item-6
            .item-inner.bg-yellow
                img( src="images/new-year-2016/award/award6.png" )
                span 小米电源
        li.lottery-item.item-5
            .item-inner.bg-yellow-light
                img( src="images/new-year-2016/award/award5.png" )
                span 玩偶
    .lottery-tips
    .lottery-wrap
        h3.prize-title 抽奖奖品
        p 一等奖：iPad mini4＊1台
        p 二等奖：小米移动电源＊10个
        p 三等奖：点点吉祥物玩偶＊50个
        p 四等奖：点点抱枕＊50个
        p 五等奖：8折优惠券（最高减10元）＊2000张
        h3.activity-title 活动规则
        p 1.活动时间：2016年1月1日。
        p 2.本活动限APP用户，新老用户均可参加。
        p 3.活动期间每个用户有一次抽奖机会，机会用掉后，用户每下一笔30元及以上订单，商家送货后用户可再获得一次抽奖机会。
        p 4.工作人员会在1-3个工作日内和获得实物奖品的用户联系，确认发奖事宜。如7个工作日内无法联系到获奖用户，则视为自动放弃。
        p 5.所有实物奖品统一在活动结束后的5个工作日内发放。
        p 6.本次活动奖品非苹果公司提供，本活动与苹果公司无关，在家点点保留法律范围内允许的对活动的解释权。
    .view-back-btn
        span 查看年度回馈
