extends layout/default

block head
  title=title
  link(type = "text/css" , rel = "stylesheet" , href = "styles/example-module.css")

block body
  .nav-title
    nav
      a.back
      p example-module1232213-fei

  .example-module Start your Jade code herer!



block script
  script var globalData = !{dataString};
  script(type="text/javascript",src="scripts/example-module.js")
