extends layout/default

block head
  title example-module
  link(type = "text/css" , rel = "stylesheet" , href = "css/example-module.css")

block body
  .nav-title
    nav
      a.back
      p example-module

  .example-module Start your Jade code herer!



block script
  script var globalData = !{dataString};
  script(src="js/lib/vue.min.js")
  script(src="js/example-module.js")
